{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

{% include('navbar.html.twig') %}

<script>
function onQtyChanged(e) 
{    
    document.getElementById('price-' +e.dataset.id).innerText = (e.value * e.dataset.up).toLocaleString();
}

</script>

<div class="container">
    <div class="row">
    <ul class="list-group ">
    {% for item in items %}
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">{{item.name}}</div>
                </div>
                <div class="row">
                    <div class="col col-md-3">
                        <img src="../{{ item.thumbnail }}" />
                    </div>
                    <div class="col col-md-3">
                        <span>{{item.qty}} &times; &#163;{{(item.unitPrice / 100)|number_format(2, '.', ',')}}</span>
                    </div>
                    <div class="col col-md-3">
                        &#163;<span id="price-{{item.id}}">{{(item.price / 100)|number_format(2, '.', ',')}}</span>
                    </div>
                    <div class="col col-md-3">
                        <button class="btn btn-danger"> Remove </button>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="row">
        <div class="col col-md-9"></div>
        <div class="col col-md-3 ">
            <h4>Total &#163;{{(total / 100)|number_format(2, '.', ',')}}</h4>
            <button class="btn btn-primary">Checkout</button>
        </div>
    
    </div>
</div>
{% endblock %}
