{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}

{% include('navbar.html.twig') %}

<style>
.data-info {
    margin-top: 1em;
}

h2.product-price {
    text-align: right; 
}
</style>

<div class="container data-info">
  <div class="row align-items-start">
    <div class="col col-md-7">
        <div class="row p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 align-items-center">
            <h1 class="col col-md-9 product-name">{{name}}</h1>
            <div class="col col-md-3">
                <h2 class="product-price">
                    &#163;{{(price / 100)|number_format(2, '.', ',')}}
                </h2>
                <div class="input-group" {{stimulus_controller('product-cart', { 'id': id })}} >
                    <input type="number" class="form-control" name="qty" value="1" min="1" step="1" {{ stimulus_target('product-cart', 'qty') }} />
                    <button class="btn btn-primary" id="button-add-to-cart" {{ stimulus_action('product-cart', 'addToCart') }}>Add to cart</button>
                </div>
                
            </div>
        </div>
        <p class="product-detail">
            {{description|raw}}
        </p>
    </div>
    <div class="col col-md-5" >
      <img src="{{image}}" style="width:100%; height:100%"/>
    </div>
  </div>
</div>

{% include('cart.html.twig') %}
{% endblock %}
