{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}

{% block body %}

{% include('navbar.html.twig') %}
{% block stylesheets %}
    {{ encore_entry_link_tags('products') }}
{% endblock %}
<div class="container">
    <div class="sorted">
    {{ knp_pagination_sortable(pagination, 'Price', 'p.price', {}, {}, '@KnpPaginator/Pagination/bootstrap_v5_bi_sortable_link.html.twig') }}
    {{ knp_pagination_sortable(pagination, 'Latest', 'p.created_at', {}, {}, '@KnpPaginator/Pagination/bootstrap_v5_bi_sortable_link.html.twig') }}
    </div>

    <div class="container product-list">
    {% for product in pagination %}
    {% if (loop.index - 1) is divisible by(5) %}
        <div class="row">
    {% endif %}
            <div class="col col-md-2">
                <div class="card">
                    <div class="card-img card-img-top" style="background-image:url({{ product_image_path }}thumbnail/{{product.photos.thumbnail.filename}})" ></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">&#163;{{ (product.price / 100)|number_format(2, '.', ',')}}</h6>
                        <a href="/product/{{product.id}}" class="btn btn-primary">View Product</a>
                    </div>
                </div> 
            </div>
    {% if (loop.index) is divisible by(5) %}
        </div>
    {% endif %}
    {% endfor %}
    </div> 
    <div class="product-pagination">
    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}    
    </div>
</div>
{% include('cart.html.twig') %}
{% endblock %}
